* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.footerparent {
  /* min-height: 100vh; */
}
footer {
  top: 100%;
  position: sticky;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background: #1e1e1e;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}

.sec {
  margin-right: 30px;
}

footer .aboutus {
  width: 40%;
}

footer h2 {
  position: relative;
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
}

footer h2::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #ff7777;
}

footer p {
  color: #828282;
}

.socials {
  margin-top: 20px;
  display: flex;
}

.socials > li {
  list-style: none;
}

.socials > li > a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: rgb(105, 105, 105);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 5px;
}

.socials > li > a:hover {
  background: #ffffff;
}

.quicklinks {
  position: relative;
  width: 25%;
}

.quicklinks > ul > li {
  list-style: none;
}

.quicklinks > ul > li > a {
  color: #828282;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}

.quicklinks > ul > li > a:hover {
  color: #fff;
}

.contact {
  width: cal(35% - 60px);
  margin-right: 0 !important;
}

.contact,
.info {
  position: relative;
}

.contact,
.info > li {
  display: flex;
  margin-bottom: 16px;
}

.contact,
.info > li > span {
  color: #828282;
  font-size: 1rem;
  margin-right: 10px;
}

.copyrights {
  width: 100%;
  text-align: center;
  background-color: #1e1e1e;
  color: #828282;
  padding: 8px 100px;
}

@media (max-width: 991px) {
  footer {
    padding: 40px;
  }
  footer .container {
    flex-direction: column;
  }
  footer .container,
  .sec {
    margin-right: 0;
    margin-bottom: 40px;
  }
  footer .aboutus {
    padding-top: 8%;
    width: 100%;
  }

  footer .quicklinks {
    padding-top: 8%;
    width: 100%;
  }

  footer .contactus {
    padding-top: 8%;
    width: 100%;
  }

  .copyrights {
    padding: 8px 40px;
  }
}
